<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
</head>
<body>
	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " href="/"> <i
							class="oi oi-home"></i> <span>Home</span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >Departamentos</span></li>
					<li class="nav-item"><a class="nav-link"
						href="/departamentos/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/departamentos/listar"> <i class="oi oi-spreadsheet"></i>
							<span>Listar </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >Cargos</span></li>
					<li class="nav-item"><a class="nav-link" 
						href="/cargos/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						href="/cargos/listar"> <i
							class="oi oi-spreadsheet"></i> <span>Listar </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active">Funcionários</span></li>
					<li class="nav-item"><a class="nav-link" 
						href="/funcionarios/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						href="/funcionarios/listar"> <i class="oi oi-spreadsheet"></i> <span>Listar </span>
					</a></li>
				</ul>
			</nav>
</body>
</html>